
/************************************************/
/*    Unify default browsers style rules        */
/************************************************/
h1, h2, h3, h4, h5, h6, pre, code	{ font-size: 1em; line-height: 1em; } /* avoid browser default inconsistent font-sizes */
li, ol, ul { list-style: none; }
table {	border-collapse: separate; border-spacing: 0; }
caption, th, td {	text-align: left;	font-weight: normal; }


/************************************************/
/*           General style rules                */
/************************************************/
body { 
	background:blue;
	font-family:Arial, Helvetica, Sans-Serif;
	min-width:300px;
}
p { 
	color: #000;
	margin:1em 0;
}
td { 
	padding: 0 8px;
	color: white; 
	font:12px Verdana, Helvetica, sans-serif;
}
th {
	padding-right: 10px;
	font-family: Verdana, Helvetica, sans-serif;
  	color: white; 
	font-size:13px; 
  	font-weight:bold;
}

a {
	color: white;
	text-decoration: none;
	text-underline: none;
}

input, select, textarea{
	font: 12px Verdana, Helvetica, sans-serif; 
	background: #ddd; 
	color: blue; 
}
input {
	font-weight: bold;
}

h2{
  font-size: 20px;
  text-align:center;
  padding-top:10px;
  font-weight: bold;
}

h3{
  color: lime;
  font-size: 16px;
  text-align:center;
  padding-top:8px;
  font-weight: bold;
}

h4{
  color: white;
  font-size: 14px;
  text-align:left;
  padding:0px;
  margin:0px;
  font-weight: bold;
}

/************************************************/
/*             Main Container                   */
/************************************************/
#maincontainer{
	background: navy;
	margin:5px auto 10px auto;
	padding:5px;
	width:290px;
}

/************************************************/
/*                  browse_content              */
/************************************************/
#browse_content {
	color: white;
	text-allign: Center;
	font-weight: bold;
    font-size: 18px;
}
#browse_content li {
	background: lightblue;
	text-allign: left;
}

#browse_content a {
	color: white;
}


/************************************************/
/*                  Header                      */
/************************************************/
#header {
	color:white;
	text-allign:Center;
	font-weight: bold;
    font-size: 18px;
}

/************************************************/
/*                  Sidebar                     */
/************************************************/
#sidebar {
	color:white;
	text-allign:Center;
	font-weight: bold;
    font-size: 18px;
}

#sidebar li {
	background: blue;
	background: -moz-linear-gradient(top, blue, lightblue);
	background: -webkit-linear-gradient(top, blue, lightblue);
	text-allign:left;
	margin: 5px;
	padding: 5px;
}

#sidebar-page ul {
	margin: 0px;
	padding: 0px;
}

#rightbar ul {
	margin: 0px;
	padding: 0px;
}

#sidebar a {
	color:navy;
}

#sidebar-tabs {
	height:40px;
	margin-bottom: 20px;
	align:center;
}


#sidebar-tabs li.sb1 {
	float: left;
    font-size: 14px;
	margin: 0px;
	padding: 0px;
	color: white;
	background: blue;
	background: -moz-linear-gradient(top, blue, lightblue);
	background: -webkit-linear-gradient(top, blue, lightblue);
}

#sidebar-tabs li.active { 
	background: orange;
	background: -moz-linear-gradient(top, blue, orange);
	background: -webkit-linear-gradient(top, blue, orange);
	margin-top:2px;
} 


/************************************************/
/*                  Sidebar                     */
/************************************************/
#rightbar {
	color:white;
	text-allign:Center;
	font-weight: bold;
    font-size: 18px;
}

#rightbar li {
	background: blue;
	background: -moz-linear-gradient(top, blue, lightblue);
	background: -webkit-linear-gradient(top, blue, lightblue);
	text-allign:left;
	margin: 5px;
	padding: 5px;
}

#rightbar a {
	color:navy;
}

/************************************************/
/*         Tables (songs lists...)              */
/************************************************/
.tabledata {
	color: white;
}

.tabledata .th-top, .tabledata .th-bottom {
	font-size:1.1em;
	vertical-align: top;
	text-align:center;
}

/* table rows */
.tabledata .odd, .tabledata .odd td,
.tabledata .even, .tabledata .even td, .row-highlight {
	font-size: 12px;
	border-bottom:1px dotted #c0c0c0;
}

/************************************************/
/*          Song details                        */
/************************************************/
.song_details {
}

#sidebar .song_details dd {
   color:yellow;
   font-size: 16px;
   width:79%;
   min-width:79%; /*Ie bugfix*/
   margin:0 0 0.2em .3em;
   padding-left:.2em;
   clear:both;
   border-bottom:1px dotted #c0c0c0;
}

#sidebar .song_details a {
   color:darkorange;
}

#sidebar .song_details dt {
   font-size: 10px;
   width:20%;
   min-width:20%; /*Ie bugfix*/
   clear:both;
   border-bottom:1px dotted #c0c0c0;
}

/************************************************/
/*             List Header                      */
/************************************************/
.list-header {
	margin:7px 0; 
	padding:0 4em; 
	text-align:center; 
	font-size: 0.8em;
	position:relative;} 
.list-header .prev{position:absolute; top:0; left:0;}
.list-header .next{position:absolute; top:0; right:0;}
.list-header .selected{background: #e0e0e0;}
.list-header .page-nb{padding:1px;border: 1px solid #ccc;text-decoration: none;}
.list-header .page-nb:hover{background: #d0d0d0;}

#sidebar .list-header a {
	color: white;
} 

#sidebar .tabledata a {
	color: white;
} 



/************************************************/
/*             Errors                           */
/************************************************/
.error { 
	color:#903; 
}

.fatalerror {
	display:table-cell;
	padding:3px;
	color:#903; 
	font-weight:bold;
	font-size:1.2em;
}

/************************************************/
/*         Styles for Login template            */
/************************************************/

#loginbox{
	margin:10px auto 0 auto;
	width:200px;
	height:400px;
  	color:white;
	font-weight: bold;
    font-size: 12px;
}

.loginfield{
	text-align:left;
	margin: 1em 0;
}
.loginfield input.text_input{
  width:12em;
  border:1px solid #999;
}
.loginfield label{
	font-weight:bold;
}



/************************************************/
/*                Misc                          */
/************************************************/
.formValidation {
	margin-top:10px;
	text-align:center;
}

.text-box, .confirmation-box {
	display:table-cell;
	padding:5px 5px 0 5px;
	margin-bottom:10px;
	background:#bbb;
	border:2px solid #000;
}

#ajax-loading { 
	position: relative;  
  top:10px;
  left:10px; 
  width:43px;
  height:11px;
	z-index:100;
  background: url(../images/ajax-loader.gif) no-repeat;
	display: none;
	text-indent:-9999em;
}

/************************************************/
/*        Styles for the star ratings           */
/************************************************/
.star-rating {
  position:relative;
}
.dynamic-star-rating{
  width:95px;
}

#sidebar .star-rating li{
  background:none;
}

#sidebar    .star-rating ul,
			.star-rating a:hover,
            .star-rating .current-rating{
  background: url(../images/ratings/star_rating.gif) left -1000px repeat-x;
}
#sidebar .star-rating ul{
  position:relative;
  width:80px;
  height:15px;
  overflow:hidden;
  list-style:none;
  margin:0;
  padding:0;
  background-position: left top;
}
#sidebar .star-rating li{
  display: inline;
}
#sidebar .star-rating a, .star-rating span,  
#sidebar .star-rating .current-rating{
  position:absolute;
  top:0;
  left:0;
  text-indent:-1000em;
  height:15px;
  line-height:15px;
  outline:none;
  overflow:hidden;
  border:none;
}
.star-rating .star1 { width:20%; z-index:6; }
.star-rating .star2 { width:40%; z-index:5; }
.star-rating .star3 { width:60%; z-index:4; }
.star-rating .star4 { width:80%; z-index:3; }
.star-rating .star5 { width:100%; z-index:2;}
.star-rating .current-rating { z-index:1; background-position: left bottom; }

#sidebar .star-rating a.star0 {
  left:0px;
  width:16px;
  background: url(../images/ratings/x_off.gif) left top;
}

/* hovering effect only for dynamic star rating */
#sidebar .dynamic-star-rating a:hover{
  background-position: left center;
}
.dynamic-star-rating a:hover.star0 {
  background: url(../images/ratings/x.gif) left top;
}
.dynamic-star-rating ul {
  left:16px;
}

#searchtable li{
	background:navy;
}
